IgnoreMe
/.idea/.gitignore
/out/
/out/production/testgita/.idea/.gitignore
/out/production/testgita/.gitignore
/out/production/testgita/Aplikacja.txt
/out/production/testgita/src/Calculator.class
/out/production/testgita/src/CustomScanner.class
/out/production/testgita/src/Hello.class
/out/production/testgita/src/InkrementacjaDekrementacja.class
/.idea/misc.xml
/out/production/testgita/.idea/misc.xml
/.idea/modules.xml
/out/production/testgita/.idea/modules.xml
/out/production/testgita/src/OperatoryMatematyczne.class
/.idea/testgita.iml
/out/production/testgita/.idea/testgita.iml
/out/production/testgita/src/TypyObiektowe.class
/out/production/testgita/src/TypyProste.class
/.idea/uiDesigner.xml
/out/production/testgita/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/production/testgita/.idea/vcs.xml
/out/production/testgita/Wymagania.txt
/out/production/testgita/src/Zmienne.class
